[*.cs]

# CS0659: Type overrides Object.Equals(object o) but does not override Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = silent

# CA2241: Provide correct arguments to formatting methods
dotnet_diagnostic.CA2241.severity = none
